<div class="campaign-stats {{top_level ? "paragraph--campaign-stats" : ""}} {{theme}}">
  <div class="container">

    {% for item in items %}
      {% if loop.index > 1 %}
          <hr>
      {% endif %}
      <div class="campaign-stats__chart {{top_level ? "col-12 col-md-10 col-lg-8" : "col-sm-8"}} px-0">
        {% if item.title %}
          <h3 class="h2 mb-3">{{item.title}}</h3>
        {% endif %}

        {% include 'partials/chart.twig' with item %}
        
      </div>
    {% endfor %}
    <p class="campaign-stats__date {{top_level ? "col-10 col-lg-8" : "col-8"}} px-0">As of <time datetime="2023-08-21">August 21, 2023</time></p>
  </div>
</div>
