<header class="campaign-header {{is_sticky ? "campaign-header--sticky" : ""}} {{is_block ? "campaign-header--block" : ""}} {{dark ? "text-dark" : ""}}" data-toggle-color-target>

    <div class="container campaign-header__main">

      <div class="campaign-header__content">

        <div class="campaign-nav">
          <a href="#" class="button--outer-border text-decor-none d-none d-md-inline-flex mr-3 mr-lg-4">
            <span class="button {{dark ? "button--primary" : "button--light"}} button--outline">Give a Gift CTA</span>
          </a>
          <button class="campaign-nav__handle menu-button" data-drawer="midd-nav-drawer" aria-label="Open navigation">
            <span class="d-none d-md-inline mr-2">Menu</span>
            {% include 'partials/icon.twig' with { name: 'bars', class: 'mr-1' } %}
          </button>

          <div class="campaign-nav__menu">

            <nav aria-labelledby="midd-main-nav-label">
              <h2 class="sr-only" id="midd-main-nav-label">Main navigation</h2>
              <ul class="campaign-nav__list">
                {% for item in site_nav.items %}
                  <li class="campaign-nav__item">

                    <a href="" class="campaign-nav__link {{ loop.first ? "campaign-nav__link--active" : ""}}">{{item.text}}</a>

                    {% if item.items %}
                      <ul class="campaign-nav__list campaign-nav__list--sub">
                        {% for subitem in item.items %}
                          <li class="campaign-nav__item campaign-nav__item--sub">
                            <a href="" class="campaign-nav__link campaign-nav__link--sub">{{subitem.text}}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}

                  </li>
                {% endfor %}
              </ul>
            </nav>
          </div>

        </div>
      </div>

      <a class="campaign-header__logo" href="">
        {% include 'partials/campaign-logo.twig' %}
        <span class="sr-only">For Every Future, the Campaign for Middlebury</span>
      </a>

    </div>
</header>
