{% set id = random(1234) %}
<section class="campaign-section {{name}}" aria-labelledby="campaign-section-title-{{id}}" {% if dark_header %} data-toggle-color-trigger {% endif %}>
    <div class="campaign-section__wrapper">
        <div class="campaign-section__content">
            {% if name == 'intro' %}
                {% include 'partials/campaign-section-intro.twig' %}
            {% elseif name == 'pillars' %}
                {% include 'partials/campaign-section-pillars.twig' with {
                    id: id
                } %}
            {% elseif name == 'video' %}
                {% include 'partials/campaign-section-video.twig' with {
                    id: id
                } %}
            {% elseif name == 'video-group' %}
                {% include 'partials/campaign-section-video-group.twig' with {
                    id: id
                } %}
            {% elseif name == 'mega-cta-panel' %}
                {% include 'paragraphs/mega-cta.twig' with {
                    id: id
                } %}
            {% elseif name == 'homepage-stats' %}
                {% include 'paragraphs/campaign-stats.twig' with {
                    title: 'Percentage bar',
                    items: [
                        {
                            type: 'percentBar',
                            title: 'Progress to $600 M Goal',
                            labels: ['$250 M', '$600 M'],
                            datasets: [ { label: 'data set 1', data: [42, 58] }, ],
                            theme: 'access'
                        },
                        {
                            type: 'percentBar',
                            title: 'Progress towards 85% participation',
                            labels: ['33%', '85%', '100%'],
                            datasets: [ { label: 'data set 2', data: [35, 50, 15] }, ],
                        }
                    ]
                } %}
            {% endif %}
        </div>
        {% if background_video %}
            <figure class="campaign-section__background video" aria-label="[place alt text here]">
                <video playsinline muted loop class="campaign-section__video" data-campaign-video poster="data:image/gif;base64,r0lgodlhaqabaiaaaaaaap///yh5baeaaaaalaaaaaabaaeaaaibraa7">
                    <source data-src="{{background_video}}" type="video/mp4">
                    <track kind="descriptions" srclang="en" src="descriptions.vtt" default/>
                </video>
            </figure>
            <button aria-label="Play/Pause Background Video" class="video--button" data-video-trigger>
                <span aria-labelledby="video--pause--{{name}}" class="video--button-pause">
                    <span id="video--pause--{{name}}" class="sr-only">Pause Animation</span>
                    {% include 'partials/icon.twig' with {
                        name: 'pause-homepage',
                        class: 'homepage-button'
                    } %}
                </span>
                <span aria-labelledby="video--play--{{name}}" class="video--button-play">
                    <span id="video--play--{{name}}" class="sr-only">Play Animation</span>
                    {% include 'partials/icon.twig' with {
                        name: 'play-homepage',
                        class: 'homepage-button'
                } %}
                </span>
            </button>
        {% elseif background_image %}
            <figure class="campaign-section__background image">
            </figure>
        {% endif %}
    </div>
</section>